 
	
	<div class="wrapper">
		<div class="page-header page-header-xs" data-parallax="true" style="background-image: url(&quot;../assets/img/ilya-yakover.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
			<div class="filter"></div>
		</div>
		<div class="section profile-content">
			<div class="container">
				<div class="owner">
					<div class="avatar">
						<img src="../assets/img/faces/carFace.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
					</div>
					<div class="name">
						<h4 class="title">Mech<br></h4>
						<h6 class="description">Mechanic On The Go</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto text-center">
						<p>An api end point and a handy solution which provide you help when you are helpless. This solution provides you a solution of <b>KnowWhere</b>. It helps you find out the nearest possible mechanics and let you talk to him live, via app, or your phone. It will create an agreemnt beteen you and your service provider. Once you both parties are aggree then the requestee will be charged for the service.</p>
						<br>
						<btn class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> How it works</btn>
					</div>
				</div>
				<br>
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Crew</a>
							</li>
							 
						</ul>
					</div>
				</div>
				<!-- Tab panes -->
				<div class="tab-content following">
					<div class="tab-pane active" id="follows" role="tabpanel">
						<div class="row">
							<div class="col-md-6 ml-auto mr-auto">
								<ul class="list-unstyled follows">
									<li>
										<div class="row">
											<div class="col-md-2 col-sm-2 ml-auto mr-auto">
												<img src="../assets/img/faces/Fida.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											</div>
											<div class="col-md-7 col-sm-4  ml-auto mr-auto">
												<h6>Fida Hussain <small>Supervisor</small> <br><small>Assistant Professor <a href="http://uswat.edu.pk/faculty/member-10.html">University of Swat</a> </small></h6>
												 
											</div> 
										</div>
									</li>
									 
									<li>
										<div class="row">
											<div class="col-md-2 col-sm-2 ml-auto mr-auto">
												<img src="../assets/img/faces/shakeel.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											</div>
											<div class="col-md-7 col-sm-4  ml-auto mr-auto">
												<h6>Muhammad Shakeel <small>Developer</small> <br><small>Microsoft Certified Professional  </small></h6>

											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<footer class="footer section-dark">
		<div class="container">
			<div class="row"> 
				<div class="credits ml-auto">
					<span class="copyright">
						©
						<script>document.write(new Date().getFullYear())</script> Powered by Udhyana
					</span>
				</div>
			</div>
		</div>
	</footer> 

 